body{
    background-color: rgb(165, 245, 255);
}

h1{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    align-items: center;
}

p{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}

.annee{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.activite{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}