body{
    background-color: rgb(165, 245, 255);
}

h1{
    display: flex;
    font-family: "asimovian", sans-serif;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    font-family: "asimovian", sans-serif;
    justify-content: center;
    align-items: center;
}

p{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    font-family: "asimovian", sans-serif;
    padding-top: 50px;
    padding-left: 50px;
}
