/* body {
    background: #fff;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    background-image:
        radial-gradient(circle, rgba(0,0,0,0.05) 1px, transparent 1px),
        radial-gradient(circle, rgba(0,0,0,0.04) 1px, transparent 1px),
        radial-gradient(circle, rgba(0,0,0,0.03) 1px, transparent 1px);
    background-size:
        3px 3px,
        5px 5px,
        7px 7px;
    opacity: 0.6;
} */

.acc{
    background-image: url(visuels-p/fond\ accueil.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.acc2{
    background-image: url(visuels-p/fond.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.accueil{
    font-family: "Vend sans";
    color: #ff0000;
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    display: grid;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:100px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
    position: sticky;
    top: 0;
    /* backdrop-filter: blur(5px); */
    backdrop-filter: grayscale(100%);
}

.ac{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: font-size 0.2s;
}

.ac:hover{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.nom{
    font-size: 30px;
    font-family: "Stack Sans Notch";
}

.lien1{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

@media (min-width:768px){
    .lien1{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: repeat(3, 400px);
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
}

@media (min-width:1068px){
    .lien1{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: repeat(3, 500px);
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
}

.ap-co{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ap-col{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.accesproj1{
    display: grid;
    background: rgba(255, 255, 255, 0.3);
    width: 29vw;
    height: 250px;
    font-family: "Stack Sans Notch";
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: font-size 0.3s;
}

@media (min-width:768px){
    .accesproj1{
        display: grid;
        background: rgba(255, 255, 255, 0.3);
        width: 30vw;
        height: 400px;
        font-family: "Stack Sans Notch";
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 40px;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        transition: font-size 0.3s;
        }
}

@media (min-width:1068px){
    .accesproj1{
        display: grid;
        background: rgba(255, 255, 255, 0.3);
        width: 30vw;
        height: 500px;
        font-family: "Stack Sans Notch";
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 50px;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        transition: font-size 0.3s;
        }
}

.accesproj1:hover{
    font-size: 28px;
    color: rgb(255, 0, 0);
    backdrop-filter: blur(10px);
}

@media (min-width:768px){
    .accesproj1:hover{
        font-size: 28px;
        color: rgb(255, 0, 0);
        backdrop-filter: blur(10px);
}
}

@media (min-width:1068px){
    .accesproj1:hover{
        font-size: 28px;
        color: rgb(255, 0, 0);
        backdrop-filter: blur(10px);
}
}